html {
 font-size: 12px;
 height: 100%;
}

@media screen and (min-width: 700px) {
  html {
    font-size: 16px;
  }
}

body {
  text-align: center;
  height: 100%;
}

h1 {
  font-size: 3rem;
}

.app {
  height: 100%;
  padding: 0 2rem;
}

.app--work,
.app--break,
.app--rest {
  color: #ffffff;
}

.app--work a,
.app--break a,
.app--rest a {
  color: #ffffff;
}

.app--work {
  background-color: #228B22;
}

.app--break {
  background-color: #6699cc;
}

.app--rest {
  background-color: #336699;
}

.app--paused {
  background-color: #cccccc;
}
